.header {
  margin-top: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7); /* 70% opacity */
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    height: auto;
  }

  .header__logo {
    width: 100%;
    height: auto;
  }
}
