.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  pointer-events: none; /* add Prevent clicks when hidden */
}

.modal_opened {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__container {
  background: #fff;
  max-width: 430px;
  padding: 34px 36px 36px;
  border-radius: 10px;
  position: relative;
  text-align: left;
  box-shadow: 0px 0px 25px 0px #00000026;
}

.modal__close-btn {
  background-image: url(../images/P_Close_Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  right: -40px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease; /* add */
}
.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  margin-bottom: 54px;
  margin-top: 0;
  text-align: left;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal__input {
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.modal__save-btn {
  padding: 13px 124px 18px 125px;
  margin-top: 18px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.modal__save-btn:hover {
  opacity: 1;
  background-color: #000000cc;
}

.modal__image-container {
  background: transparent;
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
  text-align: left;
}

.modal__close-btn_type_image {
  background-image: url(../images/P_Close_Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  top: -35px;
  right: -43px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.modal__close-btn_type_image:hover {
  opacity: 0.6;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  display: block;
  margin: 0 auto;
}

.modal__caption {
  text-align: left;
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    box-sizing: border-box;
    padding: 22px 25px;
  }

  .modal__close-btn {
    background-image: url(../images/smal_Close_Icon.svg);
    top: -35px;
    right: -13px;
  }

  .modal__save-btn {
    margin-top: 15px;
    padding: 14px 100px;
    font-size: 14px;
    line-height: 17px;
  }

  .modal__title {
    width: 238px;
    height: 22px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }

  .modal__input {
    font-size: 14px;
    line-height: 17px;
  }

  .modal__close-btn_type_image {
    background-image: url(../images/img_smal_Close_Icon.svg);
    top: -28px;
    right: -42px;
  }

  .modal__image {
    max-width: 240px;
    max-height: 299px;
  }
}
