.profile {
  margin-bottom: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  column-gap: 18px;
  row-gap: 16px;
  align-items: center;
  margin-left: 30px;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url("../images/Edit Button.svg") center no-repeat;
  cursor: pointer;
  border: 1px solid #fff;
  margin-right: 10px;
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  grid-area: description;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.profile__add-button {
  background: transparent url("../images/Add Button.svg") center no-repeat;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-left: auto;
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    width: calc(100% - 40px);
    max-width: none;
    margin: 36px 19px 0 19px;
  }
}

@media screen and (max-width: 432px) {
  .profile__info {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 90%;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: 90%;
  }

  .profile__avatar {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
  .profile__info {
    column-gap: 10px;
    row-gap: 14px;
  }
}
